.version.git /* version checker */
{
	color: #0000EB;
	background-color: #0F0F37;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 823px;
	min-height: 6889px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
	padding: 6px 117px 106px 160px;
}

.Style
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu426
{
	width: 0.01px;
	margin-left: 11px;
}

#u426
{
	z-index: 2;
	width: 253px;
	margin-right: -10000px;
	left: 556px;
}

#u431
{
	z-index: 4;
	width: 73px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 3px;
}

#u436-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 27px;
	left: 127px;
}

#menuu515
{
	z-index: 10;
	width: 810px;
	margin-right: -10000px;
	margin-top: 95px;
}

#u516
{
	width: 201px;
	min-height: 45px;
	margin-right: -10000px;
}

#u517
{
	width: 201px;
	padding-bottom: 28px;
}

#u517:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u517:active
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u519-4
{
	width: 201px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u517:active #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u523
{
	width: 201px;
	min-height: 45px;
	margin-right: -10000px;
	left: 203px;
}

#u526
{
	width: 201px;
	padding-bottom: 28px;
}

#u517.MuseMenuActive,#u526:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u526:active
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u529-4
{
	width: 201px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517.MuseMenuActive #u519-4,#u526:hover #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u526:active #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u530
{
	width: 201px;
	min-height: 45px;
	margin-right: -10000px;
	left: 406px;
}

#u533
{
	width: 201px;
	padding-bottom: 28px;
}

#u526.MuseMenuActive,#u533:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u533:active
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u535-4
{
	width: 201px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u526.MuseMenuActive #u529-4,#u533:hover #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u533:active #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 201px;
	min-height: 45px;
	margin-right: -10000px;
	left: 609px;
}

#u538
{
	width: 201px;
	padding-bottom: 28px;
}

#u533.MuseMenuActive,#u538:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u538:active
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u538.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u539-4
{
	width: 201px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u533.MuseMenuActive #u535-4,#u538:hover #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u538:active #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u538.MuseMenuActive #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 201px;
	margin: 0px -10000px 0px 0px;
}

#u861-11
{
	z-index: 35;
	width: 817px;
	min-height: 87px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 20px;
	position: relative;
}

#u918
{
	z-index: 112;
	width: 817px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 15px;
	position: relative;
}

#u925-19
{
	z-index: 114;
	width: 817px;
	min-height: 138px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u925-6,#u925-17
{
	color: #FF0000;
}

#u862
{
	z-index: 46;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 9px;
	position: relative;
}

#u867-8
{
	z-index: 48;
	width: 819px;
	min-height: 58px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u868
{
	z-index: 56;
	width: 823px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u873-12
{
	z-index: 58;
	width: 819px;
	min-height: 59px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u889
{
	z-index: 72;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 12px;
	position: relative;
}

#u884
{
	z-index: 70;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#u894-12
{
	z-index: 74;
	width: 815px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#u900-10
{
	z-index: 86;
	width: 815px;
	min-height: 72px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 15px;
	position: relative;
}

#u912
{
	z-index: 104;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

#u901-6
{
	z-index: 96;
	width: 815px;
	min-height: 50px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 9px;
	position: relative;
}

#u907
{
	z-index: 102;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 10px;
	position: relative;
}

#u917-6
{
	z-index: 106;
	width: 805px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#u930
{
	z-index: 133;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 8px;
	position: relative;
}

#pu935
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 16px;
}

#u935
{
	z-index: 135;
	width: 821px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u961-3
{
	z-index: 148;
	width: 17px;
	min-height: 4px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 473px;
	left: 258px;
}

#pu940
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 6px;
}

#u940
{
	z-index: 137;
	width: 821px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u960-3
{
	z-index: 145;
	width: 3px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u945
{
	z-index: 139;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 11px;
	position: relative;
}

#u950
{
	z-index: 141;
	width: 821px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 11px;
	position: relative;
}

#u955
{
	z-index: 143;
	width: 810px;
	background-color: transparent;
	margin-left: 8px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1100px;
}

#page .verticalspacer
{
	clear: both;
}

