.version.index /* version checker */
{
	color: #0000F2;
	background-color: #DE9F85;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 614px;
	min-height: 316px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFD72;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 319px 164px 27px;
}

#pu85
{
	width: 0.01px;
}

#u85
{
	z-index: 2;
	width: 92px;
	margin-right: -10000px;
}

#u91-6
{
	z-index: 4;
	width: 474px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 140px;
}

#menuu142
{
	z-index: 10;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 45px;
	position: relative;
}

#u143
{
	width: 180px;
	background-color: transparent;
	position: relative;
}

#u144
{
	width: 180px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u147-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 0px;
}

#u144:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	width: 180px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
}

#u144.MuseMenuActive,#u153:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u155-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u144.MuseMenuActive #u147-4,#u153:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u150,#u157
{
	width: 180px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u158
{
	width: 180px;
	min-height: 17px;
	background-color: #C4C4C4;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
}

#u158:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u153:active,#u158:active
{
	background-color: #6B6B6B;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u160-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u153.MuseMenuActive #u155-4,#u158:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u158.MuseMenuActive #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 46px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

