.version.muse /* version checker */
{
	color: #000014;
	background-color: #DB5FD5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 4404px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
	padding: 18px 57px 296px 21px;
}

.Style
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu431
{
	width: 0.01px;
	margin-left: -1px;
}

#u431
{
	z-index: 4;
	width: 119px;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu436-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 174px;
}

#u436-4
{
	z-index: 6;
}

#menuu515
{
	z-index: 10;
	width: 534px;
	margin-top: 9px;
}

#u516
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
}

#u517
{
	width: 132px;
	padding-bottom: 29px;
}

#u517:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u517:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u519-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u517:active #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u523
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
	left: 134px;
}

#u526
{
	width: 132px;
	padding-bottom: 29px;
}

#u517.MuseMenuActive,#u526:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u526:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u529-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517.MuseMenuActive #u519-4,#u526:hover #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u526:active #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u530
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
	left: 268px;
}

#u533
{
	width: 132px;
	padding-bottom: 29px;
}

#u526.MuseMenuActive,#u533:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u533:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u535-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u526.MuseMenuActive #u529-4,#u533:hover #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u533:active #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
	left: 402px;
}

#u538
{
	width: 132px;
	padding-bottom: 29px;
}

#u533.MuseMenuActive,#u538:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u538:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u538.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u539-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u533.MuseMenuActive #u535-4,#u538:hover #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u538:active #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u538.MuseMenuActive #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u426
{
	z-index: 2;
	width: 250px;
	margin-right: -10000px;
	left: 750px;
}

#u718-4
{
	z-index: 35;
	width: 800px;
	min-height: 58px;
	background-color: transparent;
	font-size: 14px;
	margin-left: 107px;
	margin-top: 24px;
	position: relative;
}

#u792-6
{
	z-index: 57;
	width: 800px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 20px;
	position: relative;
}

#u792
{
	font-weight: bold;
}

#u792-2
{
	font-weight: normal;
}

#u733
{
	z-index: 39;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	position: relative;
}

#u793-4
{
	z-index: 63;
	width: 800px;
	min-height: 33px;
	background-color: transparent;
	font-weight: normal;
	margin-left: 107px;
	margin-top: 24px;
	position: relative;
}

#u738
{
	z-index: 41;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	position: relative;
}

#u796-4
{
	z-index: 67;
	width: 800px;
	min-height: 42px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 23px;
	position: relative;
}

#u743
{
	z-index: 43;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	position: relative;
}

#u797-4
{
	z-index: 71;
	width: 800px;
	min-height: 24px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 17px;
	position: relative;
}

#u748
{
	z-index: 45;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	position: relative;
}

#u798-4
{
	z-index: 75;
	width: 800px;
	min-height: 25px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 16px;
	position: relative;
}

#u753
{
	z-index: 47;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	position: relative;
}

#u800-4
{
	z-index: 79;
	width: 793px;
	min-height: 23px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 19px;
	position: relative;
}

#u758
{
	z-index: 49;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u801-4
{
	z-index: 83;
	width: 793px;
	min-height: 22px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 16px;
	position: relative;
}

#pu779
{
	width: 0.01px;
	margin-left: 107px;
	margin-top: -2px;
}

#u779
{
	z-index: 51;
	width: 800px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u814-3
{
	z-index: 100;
	width: 1px;
	min-height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 914px;
}

#u810-4
{
	z-index: 87;
	width: 800px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 13px;
	position: relative;
}

#pu782
{
	width: 0.01px;
	margin-left: 107px;
}

#u782
{
	z-index: 53;
	width: 800px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u811-3
{
	z-index: 91;
	width: 1px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 776px;
}

#u812-3
{
	z-index: 94;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 771px;
}

#u813-3
{
	z-index: 97;
	width: 6px;
	min-height: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 712px;
}

#u818-4
{
	z-index: 103;
	width: 800px;
	min-height: 38px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 12px;
	position: relative;
}

#u787
{
	z-index: 55;
	width: 800px;
	background-color: transparent;
	margin-left: 107px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1100px;
}

#page .verticalspacer
{
	clear: both;
}

