.version.project /* version checker */
{
	color: #0000F6;
	background-color: #FFA753;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 1013px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #D6F9FF;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 67px;
	margin-left: auto;
	margin-right: auto;
}

#pu85
{
	width: 0.01px;
	margin-left: 27px;
}

#u85
{
	z-index: 2;
	width: 92px;
	margin-right: -10000px;
}

#u91-6
{
	z-index: 4;
	width: 474px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 140px;
}

#pu166
{
	width: 0.01px;
	margin-top: 22px;
}

#u166
{
	z-index: 10;
	width: 940px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u166_position_content
{
	margin-bottom: -49px;
	padding-top: 10px;
}

#u167-6
{
	z-index: 11;
	width: 723px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 33px;
	position: relative;
}

#u169-6
{
	z-index: 17;
	width: 723px;
	min-height: 66px;
	background-color: transparent;
	margin-left: 33px;
	margin-top: 9px;
	position: relative;
}

#u169
{
	color: #FF0000;
}

#u171-4
{
	z-index: 23;
	width: 179px;
	min-height: 28px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 15px;
	position: relative;
}

#u172
{
	z-index: 27;
	width: 478px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u178
{
	z-index: 29;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 470px;
}

#u184-4
{
	z-index: 31;
	width: 172px;
	min-height: 19px;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 26px;
	position: relative;
}

#u188-22
{
	z-index: 35;
	width: 912px;
	min-height: 351px;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 16px;
	position: relative;
}

#u167,#u188-2,#u188-6,#u188-12,#u188-16
{
	color: #ED1C24;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 46px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

