.version.week_2 /* version checker */
{
	color: #000018;
	background-color: #F97C71;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

.Style
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -34px;
	padding-bottom: 272px;
	width: 0.01px;
}

#u695-3
{
	z-index: 53;
	width: 6px;
	min-height: 6px;
	background-color: transparent;
	margin-left: 61px;
	position: relative;
}

#pu431
{
	width: 0.01px;
	margin-left: 171px;
	margin-top: 46px;
}

#u431
{
	z-index: 4;
	width: 119px;
	margin-right: -10000px;
}

#pu436-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 127px;
}

#u436-4
{
	z-index: 6;
}

#menuu515
{
	z-index: 10;
	width: 433px;
	margin-top: 8px;
}

#u516
{
	width: 106px;
	min-height: 45px;
	margin-right: -10000px;
}

#u517
{
	width: 106px;
	padding-bottom: 28px;
}

#u517:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u517:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u517.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u519-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u517:active #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u517.MuseMenuActive #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u523
{
	width: 107px;
	min-height: 45px;
	margin-right: -10000px;
	left: 108px;
}

#u526
{
	width: 107px;
	padding-bottom: 28px;
}

#u526:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u526:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u529-4
{
	width: 107px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u526:hover #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u526:active #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u530
{
	width: 107px;
	min-height: 45px;
	margin-right: -10000px;
	left: 217px;
}

#u533
{
	width: 107px;
	padding-bottom: 28px;
}

#u526.MuseMenuActive,#u533:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u533:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u535-4
{
	width: 107px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u526.MuseMenuActive #u529-4,#u533:hover #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u533:active #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 107px;
	min-height: 45px;
	margin-right: -10000px;
	left: 326px;
}

#u538
{
	width: 107px;
	padding-bottom: 28px;
}

#u533.MuseMenuActive,#u538:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u538:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u538.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u539-4
{
	width: 107px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u533.MuseMenuActive #u535-4,#u538:hover #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u538:active #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u538.MuseMenuActive #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u426
{
	z-index: 2;
	width: 238px;
	margin-right: -10000px;
	left: 568px;
}

#pu686-6
{
	width: 0.01px;
	margin-left: 171px;
	margin-top: 30px;
}

#u686-6
{
	z-index: 47;
	width: 324px;
	min-height: 109px;
	background-color: #C7B299;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u683-12
{
	z-index: 35;
	width: 474px;
	min-height: 109px;
	background-color: #C7B299;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u683-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u683
{
	line-height: 17px;
}

#u696-54
{
	z-index: 56;
	width: 807px;
	min-height: 219px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 11px;
	position: relative;
}

#u696-2,#u696-9,#u696-13,#u696-20
{
	font-weight: bold;
}

#u696-4,#u696-42
{
	color: #000000;
}

#u696-11,#u696-12,#u696-16,#u696-24,#u696-25,#u696-39,#u696-43
{
	color: #FF0000;
}

#u696-47
{
	color: #000212;
}

#u696-48,#u696-51
{
	font-size: 18px;
	line-height: 22px;
	color: #000212;
}

#u965-28
{
	z-index: 110;
	width: 807px;
	min-height: 287px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 21px;
	position: relative;
}

#u965-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u965-17
{
	font-size: 14px;
	color: #000000;
	font-weight: normal;
}

#u965-9,#u965-14,#u965-15,#u965-19
{
	font-size: 14px;
	color: #FF0000;
	font-weight: normal;
}

#u965-4,#u965-5,#u965-7,#u965-10,#u965-12,#u965-20,#u965-22,#u965-23
{
	font-size: 14px;
	font-weight: normal;
}

#u965-26
{
	font-size: 14px;
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u683-2,#u683-5,#u683-7,#u683-9,#u696-52,#u965-24
{
	font-size: 18px;
	line-height: 22px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

