.version.week_2 /* version checker */
{
	color: #0000E3;
	background-color: #DB4BE3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 1499.9499999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.Style
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -34px;
	padding-bottom: 609px;
	width: 0.01px;
}

#u695-3
{
	z-index: 53;
	width: 6px;
	min-height: 6px;
	background-color: transparent;
	margin-left: 61px;
	position: relative;
}

#pu431
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 35px;
}

#u431
{
	z-index: 4;
	width: 119px;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu436-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 174px;
}

#u436-4
{
	z-index: 6;
}

#menuu515
{
	z-index: 10;
	width: 534px;
	margin-top: 9px;
}

#u516
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
}

#u517
{
	width: 132px;
	padding-bottom: 29px;
}

#u517:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u517:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u519-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u517:active #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u523
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
	left: 134px;
}

#u526
{
	width: 132px;
	padding-bottom: 29px;
}

#u517.MuseMenuActive,#u526:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u526:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u529-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u517.MuseMenuActive #u519-4,#u526:hover #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u526:active #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u530
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
	left: 268px;
}

#u533
{
	width: 132px;
	padding-bottom: 29px;
}

#u526.MuseMenuActive,#u533:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u533:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u535-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u526.MuseMenuActive #u529-4,#u533:hover #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u533:active #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 132px;
	min-height: 46px;
	margin-right: -10000px;
	left: 402px;
}

#u538
{
	width: 132px;
	padding-bottom: 29px;
}

#u533.MuseMenuActive,#u538:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u538:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u538.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u539-4
{
	width: 132px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
}

#u533.MuseMenuActive #u535-4,#u538:hover #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u538:active #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u538.MuseMenuActive #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u426
{
	z-index: 2;
	width: 250px;
	margin-right: -10000px;
	left: 750px;
}

#pu686-6
{
	width: 0.01px;
	margin-left: 171px;
	margin-top: 37px;
}

#u686-6
{
	z-index: 47;
	width: 324px;
	min-height: 109px;
	background-color: #FFF23C;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u683-12
{
	z-index: 35;
	width: 474px;
	min-height: 109px;
	background-color: #FFAE8B;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u683-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u683
{
	line-height: 17px;
}

#u696-54
{
	z-index: 56;
	width: 807px;
	min-height: 219px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 11px;
	position: relative;
}

#u696-2,#u696-9,#u696-13,#u696-20
{
	font-weight: bold;
}

#u696-4,#u696-42
{
	color: #000000;
}

#u696-11,#u696-12,#u696-16,#u696-24,#u696-25,#u696-39,#u696-43
{
	color: #FF0000;
}

#u696-47
{
	color: #000212;
}

#u696-48,#u696-51
{
	font-size: 18px;
	line-height: 22px;
	color: #000212;
}

#u683-2,#u683-5,#u683-7,#u683-9,#u696-52
{
	font-size: 18px;
	line-height: 22px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

